.wrapper-header {
  height: 64px;
  line-height: 64px;
  clear: both;
}
.wrapper-header .wrapper-logo {
  width: 100px;
  height: 66px;
  float: left;
}
.wrapper-header .wrapper-logo .logo-hd {
  height: 66px;
  line-height: 66px;
  width: 66px;
}
.wrapper-header .wrapper-logo .logo-hd .logo-name {
  position: absolute;
  font-size: 14px;
  margin: 0 0 0 7px;
}
.wrapper-header .wrapper-logo .logo-hd img {
  height: 100%;
  width: 100%;
  margin: -2px 0 0 -4px;
}
.wrapper-header .wrapper-menu {
  float: left;
}
.wrapper-header .wrapper-user {
  float: right;
}
